.featuresContainer {
  margin-bottom: 40px;
  background-color: var(--inputs);
  padding: 44px;
  border-radius: 10px;
  box-sizing: border-box;
  flex: 1;
}

.featuresList,
.detailsList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
}

.featureItem {
  display: flex;
  align-items: center;
  padding: 12px 18px;
  border-radius: 100px;
  background-color: var(--badges);
  font-weight: 500;
  font-size: 16px;
  color: var(--main);
  white-space: nowrap;
  gap: 8px;
}

.featureIcon {
  width: 20px;
  height: 20px;
  fill: var(--main);
}

.detailsList {
  flex-direction: column;
  /* gap: 16px; */
  margin-top: 24px;
  margin-bottom: 0;
}

.detailItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  font-size: 16px;
}

.detailItem span:first-child {
  color: var(--main);
  font-weight: 400;
}

.detailItem span:last-child {
  color: var(--main);
  font-weight: 500;
  text-align: right;
}

.sectionTitle {
  font-size: 20px;
  font-weight: 600;
  color: var(--main);
  margin: 0 0 24px 0;
  position: relative;
}

.sectionTitle::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--gray-light);
  margin-top: 24px;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  padding: 20px;
}
